.container {
  padding: 20px;
}

.row {
  margin-bottom: 30px;
}

.img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

.heading {
  font-size: 28px;
  margin-bottom: 20px;
}

.paragraph {
  font-size: 16px;
  line-height: 1.6;
}


@media (max-width: 768px) {
  .heading {
    font-size: 24px;
  }

  .paragraph {
    font-size: 14px;
  }
}